{% extends 'base.html.twig' %}
{% block body %}

    <p>Имя клиента: {{ client.name }}</p>

    <div>
        <p>Доступные счета</p>
        <table border="1">
            <tr>
                <th>Наименование</th>
                <th>Баланс</th>
            </tr>
            {% for _invoice in invoice %}
                <tr>
                    <td>{{ _invoice.name }}</td>
                    <td>{{ _invoice.balance }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <p><h1>Заказы:</h1></p>
    {% if orders|length > 0 %}
        {% for order in orders %}
            {% set sum = 0 %}
            <form action="/pay" method="post">
                <h3>Наименование: {{ order.name }}</h3>
                <div>
                    <div>
                        <h3>Состав заказа</h3>
                        <table border="1">
                            <tr>
                                <th>Наименование</th>
                                <th>Цена</th>
                            </tr>
                            {% for product in  order.product %}
                                {% set sum = sum + product.price %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div>Сумма заказа: {{ sum }}</div>
                </div>

                <input type="hidden" value="{{ order.id }}" name="order">

                <div>
                    <button type="submit">Оплатить</button>
                </div>
            </form>
        {% endfor %}
    {% else %}
        <div>Нет заказов</div>
    {% endif %}
{% endblock %}
